* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  position: relative;
  header {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px 40px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, white 99%, #b62c2c);
    h1 {
      font-size: 2.5em;
      font-weight: 700;
      letter-spacing: 1px;
    }

    ul {
      display: flex;
      gap: 10px;
      position: relative;
      li {
        background: white;

        position: relative;
        width: 60px;
        height: 60px;

        overflow: hidden;
        border-radius: 60px;
        padding: 10px 25px;
        list-style: none;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px -10px 25px rgba($color: #000000, $alpha: 0.1);
        transition: 0.5s;
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          border-radius: 60px;
          background: linear-gradient(45deg, var(--1), var(--2));
          opacity: 0;
          transition: 0.5s;
        }

        &::after {
          content: "";
          position: absolute;
          border-radius: 60px;
          top: 10px;
          width: 110%;
          height: 110%;
          background: linear-gradient(45deg, var(--1), var(--2));
          filter: blur(15px);
          opacity: 0;
          z-index: 1;
          transition: 0.5s;
        }

        &:hover {
          width: 180px;
          transition-delay: 0.25s;
          &::after {
            opacity: 0.5;
          }
          &::before {
            opacity: 1;
            transition-delay: 0.25s;
          }
          .tittle {
            transform: scale(1);
            transition-delay: 0.5s;
          }
          .icon {
            transform: scale(0);
            transition-delay: 0.3s;
          }

          box-shadow: 0px -10px 25px rgba($color: #000000, $alpha: 0);
        }

        .icon {
          position: absolute;
          color: black;
          font-weight: 900;
          transform: scale(1);
          transition: 0.5s;
          font-size: 1.5em;
        }
        .tittle {
          font-size: 1.1em;
          text-transform: uppercase;
          text-align: center;
          transform: scale(0);
          color: white;
          font-weight: 700;
          transition: 0.5s;
          z-index: 5;
        }
      }
    }
  }

  section {
    position: relative;
    .buscar {
      background: linear-gradient(to bottom, white, gray);
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;
      width: 100%;
      padding: 50px;
      flex-direction: column;
      h2 {
        text-transform: uppercase;
        font-size: 2em;
        letter-spacing: 1px;
      }
      .imgbox {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        img {
          max-width: 100%;
        }
      }
      .search-bar {
        margin-top: 30px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 100%;
        input {
          color: #fff;
          letter-spacing: 1px;
          font-size: 1.3em;
          border: none;
          border-radius: 25px;
          background: rgba(225, 225, 225, 0.5);
          box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.5);
          padding: 15px 35px;
          width: 100%;
          outline: none;
        }
        .actions {
          display: flex;
          button {
            background: transparent;
            border: none;
            position: absolute;
            &:nth-child(1) {
              left: 7px;
              top: 23%;
            }
            &:nth-child(2) {
              right: 15px;
              top: 25%;
            }

            &:hover {
              a {
                color: #b62c2c;
              }
            }
          }
          a {
            transition: 0.5s;
            color: #fff;
            font-size: 2em;
            z-index: 5;
            text-decoration: none;
          }
        }
      }
    }

    .autosdisp {
      background: linear-gradient(to top, white, gray);
      position: relative;
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .tituloauto {
        margin-top: 25px;
        font-size: 1.5em;
        letter-spacing: 1px;
        animation: tituloauto 2.5s linear infinite;
        transition: 0.5s;
      }
      .cardsautos {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        justify-content: space-between;
        align-items: center;
        // gap: 300px;
        .tresprimeros {
          display: flex;
          justify-content: space-evenly;
          max-width: 100%;
          overflow: hidden;
          padding: 25px 0px;
          .card {
            position: relative;
            margin-top: 30px;
            background: rgba(225, 225, 225, 0.8);
            max-width: 32%;
            box-shadow: 0px -2px 5px rgba(24, 24, 24, 0.1);
            // max-height: 30%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            padding: 0px;
            border-radius: 10%;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover {
              .blurr {
                top: 65%;
              }
              &::before {
                transform: scale(0);
              }

              .contentautos {
                h3 {
                  transform: scale(1);
                }
              }
            }

            .imgbox {
              padding: 0 5px;
              max-width: 100%;
              img {
                width: 100%;
                object-fit: cover;
              }
            }

            .contentautos {
              text-align: center;
              color: #fff;
              font-size: 1.5em;
              font-weight: 800;
              transition: 0.5s;
              h3 {
                position: relative;
                top: -50%;
                transform: scale(0);
                transition: 0.5s;
              }

              span {
                font-style: italic;
                font-weight: 500;
              }
            }

            &::before {
              content: "Pasa tu mouse por aquí";
              position: absolute;
              width: 100%;
              height: 50px;
              z-index: 7;
              color: black;
              font-size: 1.3em;
              font-weight: 700;
              font-style: italic;
              bottom: 3%;
              text-align: center;
              transform: scale(1);
              transition: 0.3s;
            }

            .blurr {
              position: absolute;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.1);
              backdrop-filter: blur(15px);
              // z-index: 5;
              top: 80%;
              left: 0;

              transition: 0.5s;
            }
          }
        }
        .tressegundos {
          display: flex;
          justify-content: space-evenly;
          max-width: 100%;
          overflow: hidden;
          padding: 25px 0px;
          #mustang {
            
            .contentautos {
              h3 {
                position: relative;
                top: 10%;
                
                transition: 0.5s;
                z-index: 1000;


              }
            }
          }
          #raptor{
            .contentautos {
              h3 {
                position: relative;
                top: -60%;
                right: 30%;
                
                transition: 0.5s;
                z-index: 1000;


              }
            }
          }



          .card {
            position: relative;
            margin-top: 30px;
            background: rgba(225, 225, 225, 0.8);
            max-width: 32%;
            box-shadow: 0px -2px 5px rgba(24, 24, 24, 0.1);
            // max-height: 30%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            padding: 0px;
            border-radius: 10%;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover {
              .blurr {
                top: 65%;
              }
              &::before {
                transform: scale(0);
              }
  
              .contentautos {
                h3 {
                  transform: scale(1);
                }
              }
            }
  
            .imgbox {
              padding: 0 5px;
              max-width: 100%;
              img {
                width: 100%;
                object-fit: cover;
              }
            }
  
            .contentautos {
              text-align: center;
              color: #fff;
              font-size: 1.5em;
              font-weight: 800;
              transition: 0.5s;
              h3 {
                position: relative;
                top: -50%;
                transform: scale(0);
                transition: 0.5s;
              }
  
              span {
                font-style: italic;
                font-weight: 500;
              }
            }
  
            &::before {
              content: "Pasa tu mouse por aquí";
              position: absolute;
              width: 100%;
              height: 50px;
              z-index: 7;
              color: black;
              font-size: 1.3em;
              font-weight: 700;
              font-style: italic;
              bottom: 3%;
              text-align: center;
              transform: scale(1);
              transition: 0.3s;
            }
        }

          .blurr {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(15px);
            // z-index: 5;
            top: 80%;
            left: 0;

            transition: 0.5s;
          }
        }
      }
    }
  }
}





/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .tresprimeros {
    padding: 30px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    .card{
      position: relative;
      min-height: 350px;
      min-width: 550px;
      .imgbox {
        position: absolute;
        max-width: 100%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      &::before{
        visibility: hidden;
        opacity: 0;
      }

      .contentautos{
        visibility: hidden;
        opacity: 0;
        h3, span{
          transform: scale(0);
        }

      }
    }

  }
  
  .tressegundos {
    padding: 30px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    .card{
      position: relative;
      min-height: 350px;
      min-width: 550px;
      .imgbox {
        position: absolute;
        max-width: 100%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      &::before{
        visibility: hidden;
        opacity: 0;
      }

      .contentautos{
        visibility: hidden;
        opacity: 0;
        h3, span{
          transform: scale(0);
        }

      }
    }

  }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .tresprimeros {
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    .card{
      position: relative;
      min-height: 350px;
      min-width: 550px;
      .imgbox {
        position: absolute;
        max-width: 100%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      &::before{
        visibility: hidden;
        opacity: 0;
      }

      .contentautos{
        visibility: hidden;
        opacity: 0;
        h3, span{
          transform: scale(0);
        }

      }
    }

  }
  
  .tressegundos {
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    .card{
      position: relative;
      min-height: 250px;
      min-width: 350px;
      .imgbox {
        position: absolute;
        max-width: 100%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      &::before{
        visibility: hidden;
        opacity: 0;
      }

      .contentautos{
        visibility: hidden;
        opacity: 0;
        h3, span{
          transform: scale(0);
        }

      }
    }

  }

  
  
}




/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  
  .tresprimeros {
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    .card{
      position: relative;
      min-height: 250px;
      min-width: 350px;
      .imgbox {
        position: absolute;
        max-width: 100%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      &::before{
        visibility: hidden;
        opacity: 0;
      }

      .contentautos{
        visibility: hidden;
        opacity: 0;
        h3, span{
          transform: scale(0);
        }

      }
    }

  }
  
  .tressegundos {
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    .card{
      position: relative;
      min-height: 250px;
      min-width: 350px;
      .imgbox {
        position: absolute;
        max-width: 100%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      &::before{
        visibility: hidden;
        opacity: 0;
      }

      .contentautos{
        visibility: hidden;
        opacity: 0;
        h3, span{
          transform: scale(0);
        }

      }
    }

  }

  
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  header{
    h1{
      font-size: 2em;
      text-align: center;
      
    }
  }
  .buscar{
    padding: 25px;
    h2{
      text-align: center;
    }
    .search-bar{
      width: 100%;
      height: 100%;
      input{
        &::placeholder{
          font-size: .8em;
        }
      }
    }
  }
  .autosdisp{
    text-align: center;
    font-size: .80em;
  }
  .tresprimeros {
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    .card{
      position: relative;
      min-height: 150px;
      min-width: 250px;
      .imgbox {
        position: absolute;
        max-width: 100%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      &::before{
        visibility: hidden;
        opacity: 0;
      }

      .contentautos{
        visibility: hidden;
        opacity: 0;
        h3, span{
          transform: scale(0);
        }

      }
    }

  }
  
  .tressegundos {
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    .card{
      position: relative;
      min-height: 150px;
      min-width: 250px;
      .imgbox {
        position: absolute;
        max-width: 100%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      &::before{
        visibility: hidden;
        opacity: 0;
      }

      .contentautos{
        visibility: hidden;
        opacity: 0;
        h3, span{
          transform: scale(0);
        }

      }
    }

  }


  
}
